.header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

h1{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}