.main-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

h2{
    text-align: center;
}

button{
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
}
